html{
	font-size:1.5em;
}

div{
    font-size:14px;
    color:#333;
    
    
    }

h1{
    color:rgb(230,160,36)
    }

h2{
    color:#19516b;
    }

h3{
    color:orange;
    }

.fiche{
    width:30%;
    display:inline-block;
    vertical-align:top;
    }

.question{
    background-color:rgba(230,160,36,0.5);
    color:#222;
    position:relative;
    padding:20px;
    padding-left:50px;
    margin-left:50px;
    margin-right:150px;
    font-size:16px;
    }

.question::before{
    background-color:rgba(230,160,36,1);
    font-size:28px;
    content: " ? ";
    box-sizing: border-box;        
    text-align:center;
    border-radius:50%;
    position: absolute;
    padding-top:15px;
    top:-5px;
    left:-15px;
    width:50px;
    height:50px;
    color:white;
    font-family:bold;
    }
   
.note{background-color:rgba(25, 81, 107,0.3);
	color:#222;
	position:relative;
	padding:20px;
	padding-left:50px;
	margin-left:50px;
	margin-right:150px;
	font-size:16px;
	}

.note::before{
    background-color:rgba(25, 81, 107,1);
    font-size:56px;
    content: " \" ";
    box-sizing: border-box;        
    text-align:center;
    border-radius:50%;
    position: absolute;
    padding-top:15px;
    top:-5px;
    left:-15px;
    width:50px;
    height:50px;
    color:white;
    font-family:bold;
    }

.mybtn-contener{
    width:100%;
    text-align:center;
    display:inline-block;
    }

.mybtn-contener a { 
    color:white;
    text-decoration:none!important;
    padding:20px;
    background-color:rgba(230,160,36,1);
    width:100%;
    font-size:24px;                  
    }

.correction{
	margin-top: 20px;
	color:#444;
	position:relative;
	border-left: 2px solid rgba(230,160,36,1);
	padding-left: 10px;
	margin-left: 15px;
	margin-top: 55px;
}

.correction::before{
    font-size:2em;
    content: " Correction : ";
    box-sizing: border-box;        
 	color:rgba(230,160,36,1);
    position: absolute;
    padding-top:15px;
    top:-40px;
    left:-15px;
    font-family:bold;
    }

.remarque{
	margin-top: 20px;
	color:#444;
	position:relative;
	border-left: 2px solid rgba(25, 81, 107,1);
	padding-left: 10px;
	margin-left: 15px;
	margin-top: 55px;
}

.remarque::before{
    font-size:2em;
    content: "Remarque : ";
    box-sizing: border-box;        
 	color:rgba(25, 81, 107,1);
    position: absolute;
    padding-top:15px;
    top:-40px;
    left:-15px;
    font-family:bold;
    }


  .large{
  	font-size:1.5em;
  }

  .white{
  	color: white;
  	font-weight: bold;
  }

  .blue{
  	
  	color: rgba(25, 81, 107,1);
  	font-weight: bold;
  }

  .bandeau{
  	height: 300px;
  	width: 100%;
  	background-image: url('bandeau.jpg');
  	background-size: cover;
  	margin:0;
  	padding: 0;
  }

  .scroll{
  	max-height: 300px;
  	overflow:scroll;
  }